:root {
    --header-color: #1e2933;
    --header-font-color: #d8dbde;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    font: normal 100% / 1.625 SourceSansProRegular, Arial, sans-serif;
}


/* Header Section */

header {
    height: 5rem;
    width: 100%;
    background-color: var(--header-color);

}


.lists {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: var(--header-font-color);
    font-size: 2rem;
    list-style: none;
}

.lists li {
    padding: .5em .75em .4em;
    line-height: 3rem;
    font-size: 1.4rem;
    height: 5rem;
    width: 20rem;
    text-align: center;
    border: 1px solid black;
}

.lists li:nth-child(1) {
    border-top: 2px solid #3776ab;
}

.lists li:nth-child(2) {
    border-top: 2px solid #78797a;
}

.lists li:nth-child(3) {
    border-top: 2px solid #ffd343;
}

.lists li:nth-child(4) {
    border-top: 2px solid #82b043;
}

.lists li:nth-child(5) {
    border-top: 2px solid #775683;
}

.lists li:nth-child(6) {
    border-top: 2px solid #b55863;
}


/* Hero Section */

.hero {
    background-color: #234b6d;
    width: 100%;
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_div {
    width: 78%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    flex-direction: row;
    height: 6rem;
}

.search_div a img {
    width: 30rem;
}

.search img {
    width: 2rem;
    height: 2rem;
}

.search_bar {
    width: 40rem;
    height: 6rem;
    display: flex;
    flex-direction: row;
    background-color: var(--header-color);
    justify-content: center;
    align-items: center;
}

.search input {
    width: 25rem;
    height: 4rem;
}

.searchn:nth-child(3) {
    height: 6rem;
    
}